/* Favorite section */
.favorite_section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
  margin: 50px 20px;
}

.favorite_section h2 {
  grid-column: -1/1;
}

.card1,
.card2,
.card3 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10%;
}

.card_content {
  background: var(--color-background-gradient);
  backdrop-filter: var(--color-background-blur-light);
  border-radius: 0% 0% 10% 10%;
  margin-top: 70%;
  height: 280px;
}

.card_content h4 {
  padding: 40px 20px;
}

.card_content p {
  padding: 0px 20px;
}

/* Explore section */
.section3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr;
  gap: 50px;
  margin: 50px 20px;
}

#img1 {
  display: none;
}
