@media (min-width: 600px) {
  /* Header */
  .logo {
    padding-left: 50px;
  }

  header label {
    margin-right: 50px;
  }

  /* Home Page */
  .home_section1 {
    flex-direction: row;
    margin: 100px 50px;
  }

  .home_section2_content h4 {
    margin: 10px 10px 50px 0px;
  }

  /* Grid section */
  .home_section2 {
    margin: 50px 50px;
  }

  .home_section2_content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "txt img1 img2";
  }

  .home_section2_content_item1 {
    grid-area: txt;
  }

  .home_section2_content_item2 {
    grid-area: img1;
  }

  .home_section2_content_item3 {
    grid-area: img2;
  }

  /* Home and Visit */
  .home_section2_content {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Events */
  .event_section {
    margin: 50px;
  }

  .event_section_content {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Footer */
  .footer_section1 {
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
  }
}

@media (min-width: 900px) {
  /* Fonts */
  h1,
  h2,
  h3,
  h4,
  p {
    color: var(--color-white);
    margin: 0px;
  }

  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 1em;
  }

  .event_section_content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  /* Header */
  nav {
    margin-right: 50px;
    display: inline-block;
    position: relative;
    top: 0px;
    background: none;
    backdrop-filter: none;
  }

  nav ul {
    padding: 0px;
  }

  nav ul li {
    display: inline-block;
    padding: 20px 25px;
  }

  nav ul li ul {
    display: flex;
    flex-direction: column;
    top: 50px;
    right: 400px;
    left: 0px;
  }

  header label {
    display: none;
  }

  /* Home Page */
  .home_section2_content h4 {
    margin: 10px 100px 50px 0px;
  }
}
