@media (min-width: 600px) {
  /* Header */
  .logo {
    padding-left: 50px;
  }

  header label {
    margin-right: 50px;
  }

  /* Section 1 (used on all pages) */
  .section1 {
    flex-direction: row;
    margin: 100px 50px;
  }

  .section2_content h4 {
    margin: 10px 10px 50px 0px;
  }

  /* Section 2 (used on home and visit) */
  .section2 {
    margin: 50px 50px;
  }

  .section2_content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "img1 img2 txt";
  }

  .section2_content_item1 {
    grid-area: txt;
  }

  .section2_content_item2 {
    grid-area: img1;
  }

  .section2_content_item3 {
    grid-area: img2;
  }

  /* Favorite section */
  .favorite_section {
    grid-template-columns: repeat(2, 1fr);
    margin: 100px 50px;
  }

  .card_content {
    height: 400px;
  }

  /* Explore section */
  .section3 {
    grid-template-columns: 1fr 1fr;
    margin: 100px 50px;
  }

  .section3 h2 {
    grid-column: -1/1;
  }

  /* Events */
  .event_section {
    margin: 100px 50px;
  }

  .event_section_content {
    grid-template-columns: repeat(2, 1fr);
  }

  .event_items {
    height: 380px;
  }

  /* Footer */
  .footer_section1 {
    grid-template-columns: repeat(2, 1fr);
    margin: 50px;
  }
}

@media (min-width: 900px) {
  /* Fonts */
  h1,
  h2,
  h3,
  h4,
  p {
    color: var(--color-white);
    margin: 0px;
  }

  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 1em;
  }

  /* Favorite section */
  .favorite_section {
    grid-template-columns: repeat(3, 1fr);
    margin: 100px 50px;
  }

  /* Explore section */
  .section3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas:
      "h2 h2 h2"
      "img1 img2 img3"
      "img1 img4 img5";
    gap: 50px;
    margin: 100px 50px;
  }

  .section3 h2 {
    grid-area: h2;
  }

  #img1 {
    grid-area: img1;
    display: block;
  }

  #img2 {
    grid-area: img2;
  }

  #img3 {
    grid-area: img3;
  }

  #img4 {
    grid-area: img4;
  }

  /* Event */
  .event_section_content {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Footer */
  .footer_section1 {
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
  }
}

@media (min-width: 1200px) {
  /* Header */
  nav {
    margin-right: 50px;
    display: inline-block;
    position: relative;
    top: 0px;
    background: none;
    backdrop-filter: none;
  }

  nav ul {
    padding: 0px;
  }

  nav ul li {
    display: inline-block;
    padding: 20px 25px;
  }

  nav ul li ul {
    display: flex;
    flex-direction: column;
    top: 50px;
    right: 400px;
    left: 0px;
  }

  header label {
    display: none;
  }

  /* Section 2 (used on home and visit) */
  .section2_content h4 {
    margin: 10px 100px 50px 0px;
  }

  .event_items {
    height: 300px;
  }
}
