@import "imports/links.css";
@import "imports/variables.css";

/* General styling */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font), Arial, Helvetica, sans-serif;
  background: var(--color-background);
  background-size: cover;
}

/* Fonts */
h1,
h2,
h3,
h4,
p {
  color: var(--color-white);
  margin: 0px;
}

h1 {
  font-size: 3.5em;
  font-weight: bolder;
}

h2 {
  font-size: 3em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 0.2em;
}

h4 {
  font-size: 2em;
}

p {
  font-size: 1em;
  font-weight: normal;
}

/* Header */
header {
  width: 100%;
  margin: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 50%;
  padding-left: 50px;
}

nav {
  display: none;
  position: fixed;
  top: 100px;
  background-color: var(--color-background-transparent);
  backdrop-filter: var(--color-background-blur);
  right: 0px;
}

nav ul {
  padding: 20px 10px;
}

nav li {
  display: block;
  padding: 20px 10px;
}

nav ul li ul {
  top: 0px;
  right: 214px;
  background-color: var(--color-background-transparent);
  backdrop-filter: var(--color-background-blur);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

nav ul li ul li {
  padding: 20px;
}

nav ul li:hover > ul,
nav ul li:focus > ul,
nav ul li ul:hover,
nav ul li ul:focus {
  visibility: visible;
  opacity: 1;
}

.search input[type="text"] {
  color: var(--color-white);
  padding: 5px;
  border-radius: 25px;
  border: none;
  background-color: var(--color-background-transparent);
}

.search button {
  background-color: hsl(0, 0%, 0%, 0);
  font-size: 1em;
  color: var(--color-white);
  border: none;
  cursor: pointer;
}

header label {
  margin-right: 20px;
  color: var(--color-white);
  font-size: 1.5em;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

/* Images */
img {
  border-radius: 10%;
  width: 100%;
}

/* Grid section */
.home_section2 {
  display: grid;
  padding: 50px 50px;
}

.home_section2 h2 {
  grid-column: -1/1;
}

.home_section2_content {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin: 100px auto;
  gap: 50px;
}

/* Events */

.event_section {
  display: grid;
  padding: 50px 50px;
}

.event_section h2 {
  grid-column: -1/1;
}

.event_section_content {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin: 100px auto;
  gap: 50px;
}

.event_section img {
  border-radius: 10% 10% 0% 0%;
}

.event_items {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    hsl(0, 0%, 100%, 0.1),
    hsl(0, 0%, 100%, 0.5),
    hsl(0, 0%, 100%, 0.8)
  );
  backdrop-filter: blur(0.1rem);
  border-radius: 0% 0% 10% 10%;
  border-radius: 0% 0% 10% 10%;
  margin: -5px 0px;
  padding: 20px 20px 40px 20px;
}

.event_items h4 {
  margin-bottom: 10px;
}

.event_items p {
  margin-bottom: 20px;
}

/* Footer */

footer {
  border-top: var(--color-black) solid 0.1em;
  box-shadow: 0 0 10px var(--color-black), 0 0 40px var(--color-black),
    0 0 60px var(--color-black);
}

footer h2 {
  font-size: 2em;
}

footer p,
footer a {
  font-size: 1em;
}

.footer_section1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 50px 50px 0px 50px;
}

.footer_section1 div {
  display: flex;
  flex-direction: column;
}

.footer_section1 h2 {
  margin-bottom: 15px;
}

.footer_section1 div > * {
  padding: 5px 0px;
}

.footer_section1 i {
  font-size: 1.5em;
  padding-right: 10px;
  padding-left: 0px;
}

.footer_section2 {
  text-align: center;
  padding: 20px;
}
