@import "imports/links.css";
@import "imports/variables.css";

/* General styling */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(#5505a6, #290773, #041a59, #0a58bf, black);
  background-size: cover;
}

/* Fonts */
h1,
h2,
h3,
h4,
p {
  color: white;
  margin: 0px;
}

h1 {
  font-size: 3.5em;
  font-weight: bolder;
}

h2 {
  font-size: 3em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 0.2em;
}

h4 {
  font-size: 2em;
}

p {
  font-size: 1em;
  font-weight: normal;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_img {
  width: 20%;
  padding: 10px 0px 0px 50px;
}

nav {
  margin-right: 50px;
  padding: 20px 0px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
  position: relative;
  padding: 0px 40px 0px 40px;
}

nav ul li ul {
  background-color: hsl(0, 0%, 100%, 0.1);
  backdrop-filter: blur(1rem);
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

nav ul li ul li {
  padding: 20px;
}

nav ul li:hover > ul,
nav ul li:focus > ul,
nav ul li ul:hover,
nav ul li ul:focus {
  visibility: visible;
  opacity: 1;
}

/* Images */
img {
  border-radius: 10%;
  width: 100%;
}

/* Events */

.events_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 50px 50px 100px 50px;
}

.events_section h2 {
  grid-column: -1/1;
}

.events_section img {
  border-radius: 10% 10% 0% 0%;
}

.events {
  background-color: hsl(0, 0%, 100%, 0.1);
  backdrop-filter: blur(1rem);
  border-radius: 10%;
}

.events div {
  margin: -4px 0px;
  padding: 20px;
}

.events div > * {
  padding: 5px;
}

/* Footer */

/*
footer {
  background-color: hsl(0, 0%, 0%, 0.5);
  box-shadow: 0 0 10px black, 0 0 40px black, 0 0 60px black;
}

*/

footer {
  border-top: black solid 0.1em;
}

footer h2 {
  font-size: 2em;
}

footer p,
footer a {
  font-size: 1em;
}

.footer_section1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 50px 50px 0px 50px;
}

.footer_section1 div {
  display: flex;
  flex-direction: column;
}

.footer_section1 h2 {
  margin-bottom: 15px;
}

.footer_section1 div > * {
  padding: 5px 0px;
}

.footer_section1 i {
  font-size: 1.5em;
  padding-right: 10px;
  padding-left: 0px;
}

.footer_section2 {
  text-align: center;
  padding: 20px;
}
