@import "imports/links.css";
@import "imports/variables.css";

/* General styling */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Didact Gothic";
  background-color: blueviolet;
  background-size: cover;
}

/* Fonts */
h1,
h2,
h3,
h4,
p {
  color: white;
  margin: 0px;
}

h1 {
  font-size: 4em;
  font-weight: bold;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
  letter-spacing: 0.2em;
}

h4 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

/* Header */
header {
  background-color: hsl(0, 0%, 100%, 0.1);
  backdrop-filter: blur(1rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_img {
  width: 30%;
  margin: 0px 50px;
}

nav {
  margin: 0px 50px 0px 0px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
  padding: 0px 20px 0px 20px;
}

/* Images */
img {
  border-radius: 10%;
  width: 100%;
}

/* Events */
