/* Links */
a {
  font-size: 1em;
  text-decoration: none;
  color: var(--color-white);
}

a i {
  padding-left: 10px;
}

.active {
  text-decoration: underline;
}

.cta {
  font-size: 1em;
  color: var(--color-purple-light);
  background-color: var(--color-white);
  padding: 10px 50px;
  border-radius: 1.5em;
}

/* Hover */
a:hover {
  text-decoration: underline;
}

a i:hover {
  text-decoration: underline;
}

.cta:hover {
  background-color: var(--color-white);
  box-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white),
    0 0 40px var(--color-white);
  transition: all 0.3s ease;
}
