:root {
  --font: "Roboto";
  --color-blue-dark: #041a59;
  --color-blue-light: #0a58bf;
  --color-purple-dark: #290773;
  --color-purple-light: #5505a6;
  --color-white: #fff;
  --color-black: black;
  --color-background: linear-gradient(
    #5505a6,
    #290773,
    #041a59,
    #0a58bf,
    black
  );
  --color-background-transparent: hsl(0, 0%, 100%, 0.1);
  --color-background-gradient: linear-gradient(
    hsl(0, 0%, 100%, 0),
    hsl(0, 0%, 100%, 0.5),
    hsl(0, 0%, 100%, 0.8)
  );
  --color-background-blur: blur(1rem);
  --color-background-blur-light: blur(0.1rem);
  --color-background-gradient2: linear-gradient(
    hsl(0, 0%, 100%, 0),
    hsl(0, 0%, 100%, 0.5),
    hsl(0, 0%, 100%, 0.8)
  );
}
